@charset "UTF-8";

article {
    padding: 40px 10px;
}

figure.img-esquerda {
    float: none;
    width: 100vw;
    margin: 10px auto;
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

div.latex-bloco {
    font-size: 13px;
    margin-right: 10px;
}
